* {
  outline: none !important;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.columns-2 {
  display: flex;
}
.columns-2 > div:first-child {
  width: 70%;
}
.columns-2 > div:last-child {
  width: 30%;
}
.modal {
background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 1023px) {
  .columns-2 {
    flex-wrap: wrap;
  }
  .columns-2 > div {
    width: 100%;
  }
}